@import '../../../../styles/utilities';

nav {
  height: $header-height;
  align-items: center;
  flex-direction: row;

  &.navbar {
    button {
      color: $background-color;
      outline: none;
      cursor: pointer;
      align-self: center;
    }
  }
}
