@import '../../../../styles/utilities';

:host {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: $sidebar-width;
  padding: 0 0 20px;

  border-right: 1px solid darken($background-color, 8%);
  box-shadow: -1px 0 1px 0 white inset;

  .nav {
    margin-bottom: 20px;

    .header {
      padding: 0.5em 1em;
      color: white;
      font-size: 12px;
      background-color: lighten(#292b2c, 60%);
    }
  }

  .nav-item {
    width: 100%;

    + .nav-item {
      margin-left: 0;
    }
  }

  .nav-link {
    border-radius: 0;
    color: black;

    &.active {
      background-color: inherit;
      box-shadow: 5px 0 0 0 $primary-color inset;
    }

    &:hover:not(.active) {
      box-shadow: 5px 0 0 0 $alternative-background-color inset;
    }
  }

  .app-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
